.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-error {
    text-align: center;
    padding: 1.5rem;
    border: 2px solid rgb(239, 68, 68);
    border-radius: 16px;
    justify-content: center;
    color: rgb(239, 68, 68);
    background-color: rgba(239, 68, 68, 0.1);
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
}

.preview-content {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 400px;
    max-height: 400px;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    padding: 10px 10px 0 10px;
}

.preview-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-actions {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.preview-close {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.sidebar-fullscreen {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.preview-content-full {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 16px;
    overflow: hidden;
    z-index: 200;
}
