.code-area {
    display: flex;
    flex-direction: column;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code-wrapper {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 100%;
    min-height: 0;
    height: 100%;
    position: relative;
}

.cm-editor {
    min-height: 200px;
    max-height: 400px;
    border-radius: 16px;
    overflow: hidden;
}

.svgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 110px));
  gap: 15px;
  padding: 20px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 16px;
  border-radius: 16px;
  width: auto;
  border: 1px solid #ccc;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  .selected {
    background-color: #f0f0f0;
    border-radius: 16px;
  }
  
  .icon-item:hover {
    background-color: #f0f0f0;
    border-radius: 16px;
  }
  
  .icon-preview {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    svg {
        width: 50px;
        height: 50px;
    }
  }
  
  .icon-label {
    font-size: 12px;
    text-align: center;
    word-break: break-all;
  }